.main {
    grid-area: main;
    align-self: start;
    display: grid;
    justify-content: center;
    position: relative;

    &-content {
        margin: 0 auto;
    }

    &__profile {
        margin: -35px 0 24px 0;
    }
}