.main-content {
    display: grid;
    grid-template-columns: 265px 552px 265px;
    grid-template-areas: 
    "lef cont rigt";
    column-gap: 24px;
}
.main-content__messages {
    grid-template-columns: 265px auto auto;
    grid-template-areas: 
    "lef cont cont";
}

.content {
    grid-area: cont;

    &__about-me {
        margin-bottom: 24px;
    }
    &__user-lng {
        margin-bottom: 24px;
    }
}