.about-me {
    
}
.user-info {
    &__sub-title {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 7px;
    }
    &__description {
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
    }
}