.messages {
    height: 710px;
    max-width: 843px;
    width: 100%;

    &__container {
        display: flex;
        height: 100%;
    }
    &__dialogs {
        border-right: 1px solid #E0E0E0;
    }

    // scrollbar
    *::-webkit-scrollbar {
        height: 2px;
        width: 6px;
    }
    *::-webkit-scrollbar-thumb {
        background-color: #767676;
        border-radius: 5px;
    }
    * {
        scrollbar-width: thin;
        scrollbar-color: #767676;
    }
}