.s-message {
    background: #F1F2F4;
    border: 1px solid #E0E0E0;
    &__container {
        padding: 13px 12px 13px 15px;
    }
    &__input {
        display: none;

        &-img {
            align-self: flex-end;
            margin-bottom: 5px;
        }
    }
    &__form {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__form-label {
        display: block;
        width: 25px;
        height: 25px;
        background: url('../img/3643766-album-image-landscape-photo-photos-picture_113407.svg') center/cover no-repeat;
        cursor: pointer;
        transition: transform .2s;
        &:active {
            transform: scale(0.9, 0.9);
        }
    }
    &__writer, &__textarea-placeholder {
        background: #FFFFFF;
        border: 1px solid #757575;
        border-radius: 10px;
        max-width: 420px;
        width: 100%;
        display: block;
        margin: 0 auto;
        padding: 10px 13px 10px 13px;
        color: #767676;
        display: none;
        &.active {
            display: block;
        }
        &-input {
            width: 100%;
        }
    }
    &__writer {
        max-height: 176px;
        overflow-y: auto;
        line-height: 16px;
    }
    &_send-message {
        align-self: flex-end;
        margin-bottom: 5px;
        i {
            font-size: 22px;
        }
        &:active {
            transform: scale(0.9, 0.9);
        }
    }
}